@import 'reset';

body {
    height: auto;
    font-size: 20px;
    color: #fff;
    background-color: rgba(155, 155, 155, 0.533)
}

.btn {
    width: 75px;
    height: 75px;
    font-size: 40px;
    color: #fff;
    background-color: #4f4f4f;
    border-radius: 50%;
    transition: filter .3s ease-out;
    user-select: none;

    &:hover {
        filter: brightness(1.2);
    }

    &:active {
        filter: brightness(1);
    }
}

.grey {
    background-color: #919191;
}

.orange {
    background-color: #e3ac34;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 375px;
    height: 675px;
    background-color: #000;
    box-shadow: 0 0 20px 0 #000;
    margin: 150px auto 0;
    padding: 0 30px 30px;
    border-radius: 50px;

    .result {
        align-self: end;
        font-size: 50px;
        margin-right: 30px;
    }

    .buttons {
        display: grid;
        grid-template:
            "ac ps pr div"
            "sv ei ni mp"
            "fo fi si mi"
            "on tw th pl"
            "ze ze dot eq";
        gap: 10px;
        padding: 15px 20px 30px;

        .zero {
            grid-area: ze;
            width: 97.5%;
            border-radius: 40px;
            text-align: left;
            padding-left: 25px;
        }
    }
}
